<script setup>
import { ref } from 'vue';
import dayjs from 'dayjs';

const calendar = ref();
const dayActive = ref();

const data = ref([
	{
		id: 1,
		date: '17/05/2023',
		schedule: [
			{ id: 1, texto: '08:00 am - 08:10 am'},
			{ id: 2, texto: '08:10 am - 08:20 am'},
			{ id: 3, texto: '08:30 am - 08:40 am'}
		]
	},
	{
		id: 2,
		date: '25/05/2023',
		schedule: [
			{ id: 1, texto: '08:00 am - 08:10 am'},
			{ id: 2, texto: '08:10 am - 08:20 am'},
			{ id: 3, texto: '08:30 am - 08:40 am'}
		]
	},
])

function setStyle(date) {
	if ([6, 0].includes(dayjs(date).day())) return 'red'
	if(!!data.value.find(el => el.date == dayjs(date).format('DD/MM/YYYY'))) return 'yellow'
};
function changeMonth(val) {
	calendar.value.selectDate(val);
};

</script>

<template>
	<div class="component-calendar">
		<el-calendar ref="calendar" v-model="dayActive" class="custom-calendar">
			<template #header="{ date }">
				<div class="header-table">
					<p @click="changeMonth('prev-month')">{{ '<' }}</p>
					<p>{{ date }}</p>
					<p @click="changeMonth('next-month')">{{ '>' }}</p>
				</div>
			</template>
			<template #date-cell="{ data }">
				<div class="content-day" :class="setStyle(data.day)">
					<p>{{ dayjs(data.day).date() }}</p>
				</div>
			</template>
		</el-calendar>
		<div class="content-schedule">
			<div v-for="data in data[0].schedule" :key="data.id" class="box-schedule">
				<p>08:00 am - 08:10 am</p>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scope>
	.component-calendar {
		display: flex;
		align-items: flex-start;
		overflow: hidden;
		max-height: 450px;
	}
	.header-table {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.content-schedule {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-top: 35px;
		overflow-y: auto;
	}
	.box-schedule {
		min-height: 35px;
		border: 1px solid #808080;
		border-radius: 8px;
		display: grid;
		place-content: center;
		padding: 0px 6px;
		cursor: pointer;
		&.red {
			background-color: red;
			color: white;
		}
		&.yellow {
			background-color: yellow;
		}
		&.active {
			background-color: #00660098;
		}
		p { padding: 0; margin: 0; }
		&:hover {
			@extend .active
		}
	}
</style>

<style lang="scss">
.custom-calendar {

	--color-active: #00660098;
	--color-with-data: yellow;
	--color-end-week: red;

	p { padding: 0; margin: 0; }
	.el-calendar-table {
		width: max-content;
	}

	.content-day {
		display: grid;
		place-content: center;
		border-radius: 50%;
		height: 48px !important;
		width: 48px !important;
		transition: background .2s;
		&.yellow {
			background-color: var(--color-with-data);
		}
		&.red {
			background-color: var(--color-end-week);
			color: white;
		}
		&:hover {
			cursor: pointer;
			background-color: var(--color-active);
		}
	}
	td {
		&.is-selected {
			color: black !important;
			background-color: transparent !important;
			.content-day {
				cursor: pointer;
				background-color: var(--color-active);
			}
		}
		&.is-today {
			color: var(--color-active) !important;
		}
		.el-calendar-day {
			padding: 0;
			height: 55px !important;
			width: 55px !important;
			display: grid;
			place-content: center;
			&:hover {
				cursor: default;
				background-color: transparent !important;
				.content-day {
					cursor: pointer;
					background-color: var(--color-active);
				}
			}
		}
	}
}
</style>
